.header {
  background-color: var(--bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navList li {
  margin-right: 20px;
}

.navList li:last-child {
  margin-right: 0;
}

.navList a {
  color: var(--text-color);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.navList a:hover {
  color: var(--primary-color);
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
}

.cartCount {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #0070f3;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
