:root {
  /* Define custom CSS variables here */
  --primary-color: #6750a4;
  --bg-color: #fffbfe;
  --text-color: #444;
}

/* Apply the custom CSS variables */
body {
  background-color: var(--background-color);
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

/* Add any additional global styles here */
